//  *{
//     outline:1px solid #000;
// } 
/* .bg-white .container */
.bg-white .container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.bg-white .container .tools {
    width:100%;
    text-align: center;
}
.bg-white .container .tools h2{
    font-size: 80px;
    line-height: 96px;
    font-weight: 900;
    margin-bottom: 80px;
}
.bg-white .container .tools input{
    box-sizing: border-box;
    width:100%;
    height: 64px;
    padding-left: 40px;
    border: none;
    border-radius: 16px;
    background-color: #f2f2f2;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
#search::placeholder {
    position: relative;
    padding-left: 32px;
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2023web-camp/icons/search.png?raw=true");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px 20px;
  }
.bg-white .container .tools ul{
    display: flex;
    justify-content: space-between;
    margin-top: 36px;
    border:none;
}
.bg-white .container .tools .tools-search button{
    display: flex;
    align-items: center;
    font-size: 16px;line-height: 24px;
    font-weight: 400;
    background-color: white;
    border: 1px solid #f2f2f2;
    border-radius: 16px;
    padding: 20px 32px;
}
.bg-white .container .tools .tools-search button:hover{
    border: 1px solid #979595a9;
    cursor: pointer;
}
.bg-white .container .tools .roll-option select{
    padding: 20px 32px;
    font-size: 16px;line-height: 24px;
    font-weight: 400;
    background-color: white;
    border: 1px solid #f2f2f2;
    border-radius: 16px;
    height: 100%;
}
.bg-white .container .tools .btn-option {
    display: flex;
    margin: 0 auto;
    align-items: center;
    height:100%;

}
.bg-white .container .tools .btn-option li a{
    color:#919191;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    padding: 8px 16px;
    margin:0 4px;
    border-radius: 16px;
}
.bg-white .container .tools .btn-option li a:hover{
    background-color: #f2f2f2;
    color: #000;
    font-weight: 700;
}
  /* card */
.wrapper{
    width: auto;
    margin: 40px 0;
}
.wrapper ul{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    align-items: stretch;
}
.wrapper li{
    display: flex;
    justify-content: space-between;
}
.wrapper .card{
    outline:1px solid #f2f2f2;
    margin:15px auto;
    width:30%;
    border-radius: 16px;
    flex-direction: column;
}
.wrapper .card .img-overflow{
    overflow: hidden;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.wrapper .card img{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    transition: transform 0.3s ease;
    width:100%;
}
.wrapper .card img:hover {
    transform: scale(1.3);
  }
.wrapper .card p, .wrapper .card h3, .wrapper .card h4{
    padding: 0 30px;
}
.wrapper h3{
    font-size: 20px;
    font-weight: 900;
    line-height: 1.5;
    margin-top:4%;
    margin-bottom: 2%;
}
.wrapper p{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}
.wrapper h4{
    font-weight: 400;
    font-size: 16px;
    line-height: 3;
}
.wrapper b{
    font-weight: 700;
}
.wrapper hr{
    border:none;
    height:0.5px;
    background-color:#f2f2f2;
}

.wrapper h4{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.wrapper.card-info a span {
    font-size: 24px;
    cursor: pointer;
}
.wrapper .card-info a {
    display: flex;
    align-items: center;
  }
/* .pagination */
.pagination{
   width:1296px;
   padding-bottom: 162px;
   margin: 0 auto;
   display: flex;
   justify-content:flex-end;
}
.pagination ul{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.pagination li {
    font-size: 14px;
    font-weight: 700;
    margin: 2px;
    width:48px;
    height:48px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pagination li:hover{
    color:#fff;
    background-color: #000;
    border-radius: 16px;
}
.pagination li span:hover{
    color:#fff;
    background-color: #000;
}
@media(max-width:375px){
    .bg-white .container .tools h2{
        font-size: 32px;
        line-height: 38.4px;
        margin:0px 48px 32px 48px;
    }
    .bg-white .container .tools input{
        padding: 20px 40px;
    }
    .bg-white .container .tools ul{ 
        flex-direction: column;  
        align-items: center;
    }
    .bg-white .container .tools .btn-option {
        flex-direction: row;
    }
    .bg-white .container .tools .btn-option li a{
        padding: 0px;
        margin:0 4px;
        border-radius: 16px;
    }
      /* card */
    .wrapper{
        width: auto;
        margin: 40px 0;
    }
    .wrapper .card {
        width:80%;
    }
}