@charset "UTF-8";
/* body */
body {
  width: 100%;
  margin: 10px auto;
  font-family: "Noto Sans TC", sans-serif;
}

body, a {
  background-color: #000;
  color: #fff;
  text-decoration: none;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

.overflow-hidden {
  overflow: hidden;
}

.bg-white {
  padding-top: 160px;
  border-radius: 160px;
  width: 100%;
}

.bg-white, .bg-white a {
  background-color: #fff;
  color: #000;
  text-decoration: none;
}

.bg-white span {
  color: #000;
}

nav .d-none {
  display: none;
}

.itm .d-none {
  display: none;
}

.itm .d-block {
  display: block;
}

@media (max-width: 375px) {
  .bg-white {
    padding-top: 80px;
    border-radius: 20px;
    margin: 0 auto;
  }
  nav li {
    display: none;
  }
  nav .d-none {
    display: flex;
  }
}
/* reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

/* body .header */
.container header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
  padding-bottom: 5px;
}

.logo img {
  width: 188.99px;
  height: 40px;
}

nav ul {
  display: flex;
}

nav a {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  margin-left: 20px;
}

/* .banner */
.banner {
  margin-top: 40px;
}

.banner h1 {
  font-size: 120px;
  line-height: 144px;
  font-weight: 900;
  margin-bottom: 60px;
}

.banner h2 {
  font-size: 48px;
  line-height: 57.6px;
  margin-left: 50%;
}

.banner a {
  display: inline-block;
  font-size: 20px;
  line-height: 120%;
  font-weight: 900;
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 24px 44px;
}

.banner a:hover {
  background-color: #fff;
  color: #000;
}

.banner-animation {
  margin-top: 120px;
  display: flex;
  justify-content: flex-end;
}

.banner-animation .grass1 {
  animation-duration: 3s;
  animation-name: slideCover;
  animation-iteration-count: infinite;
  animation-delay: 0s;
}

.banner-animation .grass2 {
  animation-duration: 3s;
  animation-name: slideCover;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}

.banner-animation .grass3 {
  animation-duration: 3s;
  animation-name: slideCover;
  animation-iteration-count: infinite;
  animation-delay: 2s;
}

.banner-animation::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: 1;
}

@keyframes slideCover {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(110%);
  }
}
.banner-animation-r {
  justify-content: flex-start;
}

.banner-animation img {
  width: 180px;
  position: relative;
}

/* .service */
.service {
  margin-top: 140px;
  margin-bottom: 160px;
}

.service h2 {
  font-size: 32px;
  line-height: 38.4px;
  font-weight: 900;
}

.service p {
  font-size: 48px;
  line-height: 57.6px;
  font-weight: 900;
  margin-bottom: 120px;
}

.service .service-intro {
  display: flex;
  justify-content: space-between;
}

.service-list {
  display: flex;
  justify-content: space-between;
}

.service-list .list {
  padding-top: 60px;
  justify-content: space-between;
  border: 3px solid #1e1e1e;
  border-radius: 20px;
  width: 100%;
}

.service-list .list .list-dot li {
  list-style: circle;
}

.service-list .list ul li {
  line-height: 36px;
  margin-left: 40px;
}

.service-list .list h3,
.service-list .list p,
.service-list .list img {
  margin: 20px 40px;
}

.service-list .list h3 {
  font-size: 32px;
  line-height: 38.4px;
  font-weight: 900;
}

.service-list .list p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.service-list .list img {
  width: 88px;
}

.service-list-price {
  flex-wrap: wrap;
}

.service-list-price .list {
  margin: 8px auto;
  flex-wrap: wrap;
  width: 49%;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.service-list .list .list-info {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #1e1e1e;
  margin-top: 60px;
}

/* .partner */
.partner {
  margin-top: 120px;
  margin-bottom: 160px;
  width: 100%;
}

.partner h2 {
  font-size: 32px;
  line-height: 38.4px;
  font-weight: 900;
  margin-bottom: 80px;
}

.partner .partner-logo {
  max-width: 1296px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
}

.partner .shadow-inset {
  display: flex;
  justify-content: center;
  overflow-x: auto;
  position: relative;
}

.partner .shadow-inset img {
  width: 160px;
  height: 40px;
  max-width: initial;
  -o-object-fit: cover;
     object-fit: cover;
}

/* 隱藏 x 軸 */
/* Hide scrollbar for Chrome, Safari and Opera */
.partner .shadow-inset::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.partner .shadow-inset {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.partner .shadow-inset::after,
.partner .shadow-inset::before {
  content: "";
  position: sticky;
  width: 196px;
  height: 40px;
  top: 0;
}

.partner .shadow-inset::before {
  left: 0;
  padding-right: 196px;
  background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.991615) 11.79%, rgba(0, 0, 0, 0.967585) 21.38%, rgba(0, 0, 0, 0.9296) 29.12%, rgba(0, 0, 0, 0.879348) 35.34%, rgba(0, 0, 0, 0.818519) 40.37%, rgba(0, 0, 0, 0.7488) 44.56%, rgba(0, 0, 0, 0.671881) 48.24%, rgba(0, 0, 0, 0.589452) 51.76%, rgba(0, 0, 0, 0.5032) 55.44%, rgba(0, 0, 0, 0.414815) 59.63%, rgba(0, 0, 0, 0.325985) 64.66%, rgba(0, 0, 0, 0.2384) 70.88%, rgba(0, 0, 0, 0.153748) 78.62%, rgba(0, 0, 0, 0.0737185) 88.21%, rgba(0, 0, 0, 0) 100%);
}

.partner .shadow-inset::after {
  right: 0;
  padding-left: 196px;
  background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.991615) 11.79%, rgba(0, 0, 0, 0.967585) 21.38%, rgba(0, 0, 0, 0.9296) 29.12%, rgba(0, 0, 0, 0.879348) 35.34%, rgba(0, 0, 0, 0.818519) 40.37%, rgba(0, 0, 0, 0.7488) 44.56%, rgba(0, 0, 0, 0.671881) 48.24%, rgba(0, 0, 0, 0.589452) 51.76%, rgba(0, 0, 0, 0.5032) 55.44%, rgba(0, 0, 0, 0.414815) 59.63%, rgba(0, 0, 0, 0.325985) 64.66%, rgba(0, 0, 0, 0.2384) 70.88%, rgba(0, 0, 0, 0.153748) 78.62%, rgba(0, 0, 0, 0.0737185) 88.21%, rgba(0, 0, 0, 0) 100%);
  transform: rotate(-180deg);
}

.partner .shadow-inset li:not(:last-child) {
  margin-right: 20px;
}

.partner .rule-title {
  font-size: 48px;
  line-height: 57.6px;
  font-weight: 900;
  margin-bottom: 24px;
  margin-top: 40px;
}

.partner .rule-text {
  font-size: 32px;
  line-height: 38.4px;
  font-weight: 400;
  margin-bottom: 40px;
}

/* .recommend */
.service .swiper .recommend {
  display: flex;
  justify-content: space-between;
  margin-bottom: 160px;
}

.service .swiper .recommend .recommend-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 20px;
  width: 32%;
}

.service .swiper .recommend .recommend-card img {
  width: 48px;
}

.service .swiper .recommend .recommend-icon {
  margin: 20px 40px;
}

.service .swiper .recommend .recommend-icon i img {
  width: 16px;
  margin: 0 3px;
}

.service .swiper .recommend p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin: 40px;
}

.service .swiper .recommend .recommend-card .card-info {
  display: flex;
  margin: 20px 40px;
  align-items: flex-end;
}

.service .swiper .recommend .recommend-card .card-info h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.service .swiper .recommend .recommend-card .card-info img {
  margin-right: 16px;
  width: 48px;
  height: 48px;
}

.service .swiper-pagination.swiper-pagination-bullets {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
}

.service .swiper-pagination-bullet {
  background-color: #525252;
  opacity: 1;
}

.service .swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
  background-color: gray;
}

/* 讓分頁圓點移至下方 */
.service .swiper-pagination {
  position: static;
  margin-top: 24px;
}

@media (max-width: 375px) {
  .banner h1 {
    margin-right: 111px;
    font-size: 48px;
    line-height: 57.6px;
  }
  .banner h2 {
    font-size: 28px;
    line-height: 1.2;
    margin-left: 24%;
  }
  .banner-animation {
    justify-content: center;
  }
  .banner-animation img {
    width: 104px;
  }
  .service h2 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 24px;
  }
  .service p {
    font-size: 32px;
    line-height: 48px;
  }
  .service .service-list {
    flex-direction: column;
  }
  .service-list .list {
    width: auto;
  }
  .service-list .list h2,
  .service-list .list p,
  .service-list .list img {
    margin: 20px;
  }
  .service-list .list h2 {
    font-size: 32px;
    line-height: 38.4px;
    font-weight: 900;
  }
  .service-list .list p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
  .service-list .list img {
    width: 88px;
  }
  /* .recommend */
  .swiper .recommend .recommend-icon i img {
    width: 13px;
  }
  .swiper .recommend .recommend-card .card-info h3 {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
  }
}
/* .bg-white .container */
.bg-white .container {
  justify-content: center;
  flex-wrap: wrap;
}

.bg-white .container .tools {
  text-align: center;
}

.bg-white .container .tools h2 {
  font-size: 80px;
  line-height: 96px;
  font-weight: 900;
  margin-bottom: 80px;
}

.bg-white .container .tools input {
  box-sizing: border-box;
  width: 100%;
  height: 64px;
  padding-left: 40px;
  border: none;
  border-radius: 16px;
  background-color: #f2f2f2;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

#search::-moz-placeholder {
  position: relative;
  padding-left: 32px;
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2023web-camp/icons/search.png?raw=true");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px 20px;
}

#search::placeholder {
  position: relative;
  padding-left: 32px;
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2023web-camp/icons/search.png?raw=true");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px 20px;
}

.bg-white .container .tools ul {
  display: flex;
  justify-content: space-between;
  margin-top: 36px;
  border: none;
}

.bg-white .container .tools .tools-search button {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  background-color: white;
  border: 1px solid #f2f2f2;
  border-radius: 16px;
  padding: 20px 32px;
}

.bg-white .container .tools .tools-search button:hover {
  border: 1px solid rgba(151, 149, 149, 0.662745098);
  cursor: pointer;
}

.bg-white .container .tools .roll-option select {
  padding: 20px 32px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  background-color: white;
  border: 1px solid #f2f2f2;
  border-radius: 16px;
  height: 100%;
}

.bg-white .container .tools .btn-option {
  display: flex;
  margin: 0 auto;
  align-items: center;
  height: 100%;
}

.bg-white .container .tools .btn-option .active {
  background-color: #f2f2f2;
  color: #000;
}

.bg-white .container .tools .btn-option li a {
  color: #919191;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  padding: 8px 16px;
  margin: 0 4px;
  border-radius: 16px;
}

.bg-white .container .tools .btn-option li a:hover {
  background-color: #f2f2f2;
  color: #000;
  font-weight: 700;
}

/* card */
.wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 40px 0;
}

.wrapper li {
  display: flex;
  justify-content: space-between;
}

.wrapper .card {
  outline: 1px solid #f2f2f2;
  margin: 15px auto;
  width: 416px;
  border-radius: 16px;
  flex-direction: column;
}

.wrapper .card .img-overflow {
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.wrapper .card img {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  transition: transform 0.3s ease;
  width: 100%;
}

.wrapper .card:hover .img-overflow img {
  transform: scale(1.3);
}

.wrapper .card p, .wrapper .card h3, .wrapper .card h4 {
  padding: 0 30px;
}

.wrapper h3 {
  font-size: 20px;
  font-weight: 900;
  line-height: 1.5;
  margin-top: 4%;
  margin-bottom: 2%;
}

.wrapper p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

.wrapper h4 {
  font-weight: 400;
  font-size: 16px;
  line-height: 3;
}

.wrapper b {
  font-weight: 700;
}

.wrapper hr {
  border: none;
  height: 0.5px;
  background-color: #f2f2f2;
}

.wrapper h4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper.card-info a span {
  font-size: 24px;
  cursor: pointer;
}

.wrapper .card-info a {
  display: flex;
  align-items: center;
}

/* .pagination */
.pagination {
  padding-bottom: 162px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}

.pagination ul {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.pagination li {
  font-size: 14px;
  font-weight: 700;
  margin: 2px;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination .active {
  color: #fff;
  background-color: #000;
  border-radius: 16px;
}

.pagination li:hover {
  color: #fff;
  background-color: #000;
  border-radius: 16px;
}

.pagination li span:hover {
  color: #fff;
  background-color: #000;
}

@media (max-width: 375px) {
  .bg-white .container .tools h2 {
    font-size: 32px;
    line-height: 38.4px;
    margin: 0px 48px 32px 48px;
  }
  .bg-white .container .tools input {
    padding: 20px 40px;
  }
  .bg-white .container .tools ul {
    flex-direction: column;
    align-items: center;
  }
  .bg-white .container .tools .btn-option {
    flex-direction: row;
  }
  .bg-white .container .tools .btn-option li a {
    padding: 0px;
    margin: 0 4px;
    border-radius: 16px;
  }
  /* card */
  .wrapper {
    margin: 40px 0;
  }
  .wrapper .card {
    width: 80%;
  }
}
/* .container */
.container .callToAction {
  margin: 162px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container .callToAction h2 {
  font-size: 48px;
  line-height: 57.6px;
  font-weight: 900;
  margin-bottom: 30px;
}

.container .callToAction a {
  padding: 15px 30px;
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.container .callToAction a:hover {
  background-color: #fff;
  color: #000;
}

.container .callToAction span {
  font-size: 20px;
  line-height: 24px;
  font-weight: 900;
  margin: 10px;
}

/* footer */
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  flex-direction: column;
}

footer .sitemap {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 80px 0;
  width: 100%;
}

footer .sitemap .sitemap-list a {
  font-size: 80px;
  line-height: 96px;
  font-weight: 900;
}

footer .sitemap .sitemap-logo img {
  height: 40px;
  width: auto;
}

.FAQ {
  display: flex;
  margin: 160px auto;
}

.FAQ h2 {
  width: 40%;
  font-size: 32px;
  line-height: 38.4px;
  font-weight: 900;
}

.itms {
  width: 100%;
}

.itm {
  display: flex;
  flex-direction: column;
  border: 1px solid #fff;
  border-radius: 20px;
  font-size: 20px;
  line-height: 24px;
  padding: 24px 20px;
  margin-bottom: 20px;
}

.itm:hover {
  background-color: rgb(99, 95, 95);
  cursor: pointer;
}

.itm h3 {
  display: flex;
  align-items: center;
}

.panel {
  display: none;
  margin: 20px auto;
  line-height: 24px;
}

footer .contact-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

footer .social ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .social li {
  margin: 0 1.5rem;
}

footer .top a {
  display: flex;
  align-items: center;
}

footer .top a .material-symbols-outlined {
  margin-left: 14px;
}

@media (max-width: 375px) {
  /* .container */
  .container .callToAction {
    margin: 160px auto;
  }
  .container .callToAction h2 {
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    margin: 0px 72px 40px 72px;
  }
  /* footer .sitemap */
  footer .sitemap {
    flex-direction: column-reverse;
  }
  footer .sitemap .sitemap-list {
    margin-top: 40px;
  }
  footer .sitemap .sitemap-list a {
    font-size: 48px;
    line-height: 57.6px;
  }
  /* .container .FAQ */
  .FAQ .itm {
    margin-top: 40px;
  }
  .container .sitemap .sitemap-list a {
    line-height: 57.6px;
  }
  .partner .list .rule-text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
  .partner .list .rule-title {
    font-size: 32px;
    line-height: 38.4px;
    font-weight: 900;
  }
  /* .footer */
  footer .contact-info {
    align-items: center;
    flex-wrap: wrap;
  }
  .footer .social ul {
    margin-left: 0px;
  }
  .footer .social li {
    padding: 0 20px 0 0;
  }
  .social {
    flex-basis: 100%;
    margin-bottom: 10px;
    order: 1;
  }
}/*# sourceMappingURL=all.css.map */