*{
    outline:1px solid #fff;
}
/* body .header */
.container header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
  padding-bottom: 5px;
}
.logo img {
  width: 188.99px;
  height: 40px;
}
nav ul {
  display: flex;
}
nav a {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  margin-left: 20px;
}

/* .banner */
.banner {
  margin-top: 40px;
}
.banner h1 {
  font-size: 120px;
  line-height: 144px;
  font-weight: 900;
  margin-bottom: 60px;
}
.banner h2 {
  font-size: 48px;
  line-height: 57.6px;
  margin-left: 50%;
}
.banner a {
  display: inline-block;
  font-size: 20px;
  line-height: 120%;
  font-weight: 900;
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 24px 44px;
}
.banner a:hover {
  background-color: #fff;
  color: #000;
}
.banner-animation {
  margin-top: 120px;
  display: flex;
  justify-content: flex-end;
}
.banner-animation .grass1 {
  animation-duration: 3s;
  animation-name: slideCover;
  animation-iteration-count: infinite;
  animation-delay: 0s;
}

.banner-animation .grass2 {
  animation-duration: 3s;
  animation-name: slideCover;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}

.banner-animation .grass3 {
  animation-duration: 3s;
  animation-name: slideCover;
  animation-iteration-count: infinite;
  animation-delay: 2s;
}

.banner-animation::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: 1;
}

@keyframes slideCover {
  0% {
      transform: translateY(-100%);
  }
  50% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(110%);
  }
}

.banner-animation-r {
  justify-content: flex-start;
}
.banner-animation img {
  width: 180px;
  position: relative;
}

/* .service */
.service {
  margin-top: 140px;
  margin-bottom: 160px;
}
.service h2 {
  font-size: 32px;
  line-height: 38.4px;
  font-weight: 900;
}
.service p {
  font-size: 48px;
  line-height: 57.6px;
  font-weight: 900;
  margin-bottom: 120px;
}
.service .service-intro{
  display: flex;
  justify-content: space-between;
}
.service-list {
  display: flex;
  justify-content: space-between;
}
.service-list .list {
  padding-top: 60px;
  justify-content: space-between;
  border: 3px solid #1e1e1e;
  border-radius: 20px;
  width: 100%;
}
.service-list .list .list-dot li {
  list-style: circle;
}
.service-list .list ul li {
  line-height: 36px;
  margin-left: 40px;
}
.service-list .list h3,
.service-list .list p,
.service-list .list img {
  margin: 20px 40px;
}
.service-list .list h3 {
  font-size: 32px;
  line-height: 38.4px;
  font-weight: 900;
}
.service-list .list p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.service-list .list img {
  width: 88px;
}
.service-list-price {
  flex-wrap: wrap;
}
.service-list-price .list {
  margin: 8px auto;
  flex-wrap: wrap;
  width: 49%;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
.service-list .list .list-info{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #1e1e1e;
  margin-top: 60px;
}
/* .partner */
.partner {
  margin-top: 120px;
  margin-bottom: 160px;
  width: 100%;
}
.partner h2 {
  font-size: 32px;
  line-height: 38.4px;
  font-weight: 900;
  margin-bottom: 80px;
}
.partner .partner-logo {
  max-width: 1296px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.partner .shadow-inset {
  display: flex;
  justify-content: center;
  overflow-x: auto;
  position: relative;
}
.partner .shadow-inset img {
  width: 160px;
  height: 40px;
  max-width: initial;
  object-fit: cover;
}
/* 隱藏 x 軸 */
/* Hide scrollbar for Chrome, Safari and Opera */
.partner .shadow-inset::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.partner .shadow-inset {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.partner .shadow-inset::after,
.partner .shadow-inset::before {
  content: "";
  position: sticky;
  width: 196px;
  height: 40px;
  top: 0;
}
.partner .shadow-inset::before {
  left: 0;
  padding-right: 196px;
  background: linear-gradient(
    90deg,
    #000000 0%,
    rgba(0, 0, 0, 0.991615) 11.79%,
    rgba(0, 0, 0, 0.967585) 21.38%,
    rgba(0, 0, 0, 0.9296) 29.12%,
    rgba(0, 0, 0, 0.879348) 35.34%,
    rgba(0, 0, 0, 0.818519) 40.37%,
    rgba(0, 0, 0, 0.7488) 44.56%,
    rgba(0, 0, 0, 0.671881) 48.24%,
    rgba(0, 0, 0, 0.589452) 51.76%,
    rgba(0, 0, 0, 0.5032) 55.44%,
    rgba(0, 0, 0, 0.414815) 59.63%,
    rgba(0, 0, 0, 0.325985) 64.66%,
    rgba(0, 0, 0, 0.2384) 70.88%,
    rgba(0, 0, 0, 0.153748) 78.62%,
    rgba(0, 0, 0, 0.0737185) 88.21%,
    rgba(0, 0, 0, 0) 100%
  );
}

.partner .shadow-inset::after {
  right: 0;
  padding-left: 196px;
  background: linear-gradient(
    90deg,
    #000000 0%,
    rgba(0, 0, 0, 0.991615) 11.79%,
    rgba(0, 0, 0, 0.967585) 21.38%,
    rgba(0, 0, 0, 0.9296) 29.12%,
    rgba(0, 0, 0, 0.879348) 35.34%,
    rgba(0, 0, 0, 0.818519) 40.37%,
    rgba(0, 0, 0, 0.7488) 44.56%,
    rgba(0, 0, 0, 0.671881) 48.24%,
    rgba(0, 0, 0, 0.589452) 51.76%,
    rgba(0, 0, 0, 0.5032) 55.44%,
    rgba(0, 0, 0, 0.414815) 59.63%,
    rgba(0, 0, 0, 0.325985) 64.66%,
    rgba(0, 0, 0, 0.2384) 70.88%,
    rgba(0, 0, 0, 0.153748) 78.62%,
    rgba(0, 0, 0, 0.0737185) 88.21%,
    rgba(0, 0, 0, 0) 100%
  );
  transform: rotate(-180deg);
}

.partner .shadow-inset li:not(:last-child) {
  margin-right: 20px;
}
.partner .rule-title {
  font-size: 48px;
  line-height: 57.6px;
  font-weight: 900;
  margin-bottom: 24px;
  margin-top: 40px;
}
.partner .rule-text {
  font-size: 32px;
  line-height: 38.4px;
  font-weight: 400;
  margin-bottom: 40px;
}
/* .recommend */
.service .swiper .recommend {
  display: flex;
  justify-content: space-between;
  margin-bottom: 160px;
}
.service .swiper .recommend .recommend-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content:space-between;
  height: auto;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 20px;
  width:32%;
}
.service .swiper .recommend .recommend-card img {
  width: 48px;
}
.service .swiper .recommend .recommend-icon {
  margin: 20px 40px;
}
.service .swiper .recommend .recommend-icon i img {
  width: 16px;
  margin: 0 3px;
}
.service .swiper .recommend p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin: 40px;
}
.service .swiper .recommend .recommend-card .card-info {
  display: flex;
  margin: 20px 40px;
  align-items: flex-end;
}
.service .swiper .recommend .recommend-card .card-info h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.service .swiper .recommend .recommend-card .card-info img {
  margin-right: 16px;
  width: 48px;
  height: 48px;
}
.service .swiper-pagination.swiper-pagination-bullets {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
}

.service .swiper-pagination-bullet {
  background-color: #525252;
  opacity: 1;
}

.service .swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
  background-color: gray;
}

/* 讓分頁圓點移至下方 */
.service .swiper-pagination {
  position: static;
  margin-top: 24px;
}
@media (max-width: 375px) {
  .banner h1 {
    margin-right: 111px;
    font-size: 48px;
    line-height: 57.6px;
  }
  .banner h2 {
    font-size: 28px;
    line-height: 1.2;
    margin-left: 24%;
  }
  .banner-animation {
    justify-content: center;
  }
  .banner-animation img {
    width: 104px;
  }
  .service h2 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 24px;
  }
  .service p {
    font-size: 32px;
    line-height: 48px;
  }
  .service .service-list {
    flex-direction: column;
  }
  .service-list .list {
    width: auto;
  }
  .service-list .list h2,
  .service-list .list p,
  .service-list .list img {
    margin: 20px;
  }
  .service-list .list h2 {
    font-size: 32px;
    line-height: 38.4px;
    font-weight: 900;
  }
  .service-list .list p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
  .service-list .list img {
    width: 88px;
  }
  /* .recommend */
  .swiper .recommend .recommend-icon i img {
    width: 13px;
  }
  .swiper .recommend .recommend-card .card-info h3 {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
  }

  
}
