// *{
//     outline:1px solid #fff;
// } 
/* .container */
.container .callToAction{
    margin: 162px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container .callToAction h2{
    font-size: 48px;
    line-height: 57.6px;
    font-weight: 900;
    margin-bottom: 30px;
}
.container .callToAction a{
    padding:15px 30px;
    border:1px solid white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
.container .callToAction a:hover{
    background-color: #fff;
    color: #000;
}
.container .callToAction span{
    font-size: 20px;
    line-height: 24px;
    font-weight: 900;
    margin: 10px;
}
/* footer */
.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    flex-direction: column;
}
.footer .sitemap{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 80px 0;
    width: 100%;
}
.footer .sitemap .sitemap-list a{
    font-size: 80px;
    line-height: 96px;
    font-weight: 900;
}
.footer .sitemap .sitemap-logo img{
    height: 40px;
    width:auto;
}
.FAQ{
    display: flex;
    margin: 160px auto;
}
.FAQ h2{
    width:40%;
    font-size: 32px;
    line-height: 38.4px;
    font-weight: 900;
}
.itms{
    width:100%;
}
.itm{
    display: flex;
    flex-direction: column;
    border:1px solid #fff;
    border-radius: 20px;
    font-size: 20px;
    line-height: 24px;
    padding: 24px 20px;
    margin-bottom: 20px;
}
.itm:hover{
    background-color: rgb(99, 95, 95);
    cursor: pointer;

}
.itm h3{
    display: flex;
    align-items: center;
}

.panel{
    display: none;
    margin: 20px auto;
    line-height: 24px;
}
.footer .contact-info{
    width:100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.footer .social{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer .social li{
    margin:0 1.5rem;
}

.footer .top {
    display: flex;
    align-items: center;
}
.footer .top .material-symbols-outlined {
    margin-left: 14px;
}
.d-none{
    display: none;
}

@media(max-width:1024px){
/* .container .FAQ */
.FAQ .itm{
    margin-top: 40px;
}
.container .sitemap .sitemap-list a{
    
    line-height: 57.6px;
}
.partner .list .rule-text{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.partner .list .rule-title{
    font-size: 32px;
    line-height: 38.4px;
    font-weight: 900;
}
}
@media(max-width:768px){
/* .footer */
.footer .contact-info{
    align-items: center;
    flex-wrap: wrap;
}
.footer .social{
    margin-left: 0px;
}
.footer  .social li{
    padding: 0 20px 0 0;
}
.social {
    flex-basis: 100%;
    margin-bottom: 10px;
    order:1;
  }
}
@media(max-width:375px){
    /* .container */
.container .callToAction{
    margin: 160px auto;
}
.container .callToAction h2{
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    margin: 0px 72px 40px 72px;
}
/* footer .sitemap */
.footer .sitemap{
    flex-direction: column-reverse;
}
.footer .sitemap .sitemap-list{
    margin-top: 40px;
}
.footer .sitemap .sitemap-list a{
    font-size: 48px;
    line-height: 57.6px;
}
/* .container .FAQ */
.FAQ .itm{
    margin-top: 40px;
}
.container .sitemap .sitemap-list a{
    
    line-height: 57.6px;
}
.partner .list .rule-text{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.partner .list .rule-title{
    font-size: 32px;
    line-height: 38.4px;
    font-weight: 900;
}
/* .footer */
.footer .contact-info{
    align-items: center;
    flex-wrap: wrap;
}
.footer .social{
    margin-left: 0px;
}
.footer  .social li{
    padding: 0;
}
.social {
    flex-basis: 100%;
    margin-bottom: 10px;
    order:1;
  }
}